<!DOCTYPE html>
<html>
<head>
    <title>Detalles de Película</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Detalles de Película</h1>
        <div class="card">
            <!-- <img src="{{ pelicula.imagen }}" class="card-img-top" alt="{{ pelicula.nombre }}"> -->
            <div class="card-body">
                <h5 class="card-title">{{ pelicula.nombre }}</h5>
                <p class="card-text">Director: {% if pelicula.director != '{}' %}{{pelicula.director}}{% else %}No disponible{% endif %}</p>
                <p class="card-text">Año: {{ pelicula.año }}</p>
                <p class="card-text">Precio de Alquiler: ${{ pelicula.precio_alquiler }}</p>
                <p class="card-text">Sinopsis: {{ pelicula.sinopsis }}</p>
                <p class="card-text">Disponible: {% if pelicula.disponible %}Sí{% else %}No{% endif %}</p>
                <a href="/" class="btn btn-primary">Volver a la Lista</a>
            </div>
        </div>
    </div>
</body>
</html>